.hero_container{
    width:100%;
    min-height:900px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px;
    box-sizing:border-box;

    background-image:
        linear-gradient(rgba(0,0,0,.5),
        rgba(0,0,0,1)),
        url("/img/hero-barbershop.png");

    background-size:cover;
    background-position:center;
}  

.hero_left{

    flex:1;
    max-width:700px;

}
.hero_logo{

    flex:1;

    display:flex;
    justify-content:flex-end;
    align-items:center;

}

.hero_logo img{
    width: 400px;
    height: 400px;
    animation: floatLogo 5s ease-in-out infinite;
    filter:
        drop-shadow(0 0 20px rgba(223, 169, 82, 0.667))
        drop-shadow(0 0 50px rgba(212,174,111,.15));
    transition: .4s;
}

@keyframes floatLogo{
    0%,100%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-12px);
    }
}

.hero_pretitle{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.hero_pretitle img{
    width: 20px;
    height: 20px;
}

.hero_pretitle h5{
    color: var(--marron-color);
    letter-spacing: 3px;
    font-weight: 200;
    
}

.hero_title{
    color: white;
}
.hero_title h1{
 font-family: "Bebas Neue", sans-serif;      
font-size: 120px;
font-weight: bold;
line-height: 0.8;
margin: 10px 0px;

}
.precision{
    color: var(--marron-color);
}
.hero_paragraph{
    color: var(--seccion-color);
    max-width:600px;
    font-size: 20px;
    margin: 40px 0px;
    
}
.hero_buttons{
    display: flex;
    gap: 10px;
    width:100%;
    max-width:600px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid rgb(97, 97, 97);
   
}
.hero_buttons button{
     padding: 20px 40px;
     border-radius: 5px;
     
     
}
.hero_button1{
    background-color: var(--marron-color);
    font-weight: bold;
    border: none;
}
.hero_button1:hover{
    cursor: pointer;
    background-color: #a78855;
}
.hero_button2:hover{
    cursor: pointer;
    color: var(--marron-color);
    border: 0.1px solid var(--marron-color);
}
.hero_button2{
    background-color: transparent;
    border: 0.1px solid var(--seccion-color);
    color: white;
}
.hero_cuality{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.hero_cuality_container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}
.hero_icons img{
    width: 25px;
    height: 25px;
}
.hero_info {
line-height: 0.3;
}
.hero_info h1{
    color: white;
    font-size: bold;
    font-size: 25px;
    
}
.hero_info p{
    color: grey;
    font-size: 14px;
}
.h1_animado{
    animation-duration: 4s;
}
@media(max-width:1200px){

    .hero_container{

        padding:60px 40px;

    }

    .hero_title h1{

        font-size:90px;

    }

    .hero_logo img{

        width:320px;
        height:320px;

    }

}
@media(max-width:992px){

    .hero_container{

        flex-direction:column;
        justify-content:center;
        align-items:center;

        text-align:center;

        gap:50px;

        padding:120px 30px 80px;

    }

    .hero_left{

        max-width:100%;

    }

    .hero_logo{

        justify-content:center;

        order:-1;

    }

    .hero_logo img{

        width:280px;
        height:280px;

    }

    .hero_pretitle{

        justify-content:center;

    }

    .hero_paragraph{

        margin:auto;
        margin-top:30px;
        margin-bottom:30px;

    }

    .hero_buttons{

        justify-content:center;
        margin:auto;

    }

    .hero_cuality{

        justify-content:center;
        flex-wrap:wrap;

    }

}
@media(max-width:576px){

.hero_cuality{

    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:10px;

}

.hero_cuality_container{

    flex-direction:column;
    text-align:center;
    gap:10px;

}

.hero_info{

    line-height:1.2;

}

.hero_info h1{

    font-size:22px;

}

.hero_info p{

    font-size:11px;

}

}