.navbar_container{

    width:100%;
    box-sizing:border-box;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 80px;

    position:sticky;
    top:0;
    z-index:1000;

    background:rgba(37,37,37,.2);
    backdrop-filter:blur(10px);

}
.reserve_link{
    text-decoration: none;
    color: inherit;
}

.reserve_link:visited{
    color: inherit;
}
.navbar_logo{
    display:flex;
    align-items:center;
    color:white;
}
.logo_x{
    color:var(--marron-color);
    border: 1px solid var(--marron-color);
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
   margin-right: 6px;
}
.navbar_seccion{
    display:flex;
    gap:30px;
    align-items:center;
}

.navbar_seccion a{
    text-decoration:none;
    color:var(--seccion-color);
}

.navbar_seccion a:hover{
    color:white;
}
.navbar_reserve{
    display:flex;
    align-items:center;
}
.navbar_seccion button{
    background: var(--marron-color);
    color: black;
    border: none;
    padding: 12px 18px;
    font-weight: bold;

    appearance: none;
    -webkit-appearance: none;
}
.navbar_reserve button:hover{
    background-color: black;
    color: var(--marron-color);
    cursor: pointer;
    
}
.menu_icon{

    display:none;

}
@media (max-width:1200px){

    .navbar_container{
        padding:0 40px;
    }

    .navbar_seccion{
        gap:18px;
    }

}
@media (max-width:992px){

    .navbar_container{
        padding:0 25px;
    }

    .navbar_seccion{
        gap:12px;
    }

    .navbar_seccion a{
        font-size:.9rem;
    }

}
@media(max-width:768px){

    .navbar_container{

        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        padding: 15px 20px;

        background: rgba(18,18,18,.35);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

        z-index: 1000;
    }

    .menu_icon{

        display:block;
        color:white;
        font-size:30px;
        cursor:pointer;
        z-index:1001;

    }

    .navbar_seccion{

        position:fixed;

        top:0;
        right:-100%;

        width:280px;
        height:100vh;

        background:rgba(18,18,18,.96);

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        gap:35px;

        transition:right .35s ease;

    }
    .reserve_link{
    text-decoration: none;
    color: inherit;
}

.reserve_link:visited{
    color: inherit;
}

    .navbar_seccion.active{

        right:0;

    }

}