:root{
  --marron-color: #D4AE6F;
  --seccion-color:#8f8f8f;
  --page-padding:300px;
}
body {
  background-color: rgb(12, 12, 12);
  margin: 0;
   font-family: "Google Sans", sans-serif;
}
.hidden {
  opacity: 0;
}
html{
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 100px;
}